.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

dl, ol, ul {
  margin-top: 0;
}

ol, ul {
  margin-bottom: 11px;
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:after, .nav:before {
  content: " ";
  display: table;
}

.nav > li, .nav > li > a {
  display: block;
  position: relative;
}

.nav:after {
  clear: both;
}

.nav > li > a {
  padding: 10px 15px;
}

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #eee;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dropdown-menu > li > a, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " ";
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

a {
  color: #3097D1;
  text-decoration: none;
}

a:focus, a:hover {
  color: #216a94;
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

