.search-form {
  margin: 40px 5px;
  font: normal 12px sans-serif;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.search-form .input-group input {
  background-color: #ffffff;
  box-shadow: none;
  color: #4E565C;
  outline: none;
  border: 1px solid #b6c3cd;
  border-right: 0;
  border-left: 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

p {
  margin: 0 0 11px;
}

hr, img {
  border: 0;
}

img {
  vertical-align: middle;
}

button {
  overflow: visible;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover, .form-control, .navbar-toggle, .open > .btn-danger.dropdown-toggle, .open > .btn-default.dropdown-toggle, .open > .btn-info.dropdown-toggle, .open > .btn-primary.dropdown-toggle, .open > .btn-warning.dropdown-toggle {
  background-image: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-control, output {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  display: block;
}

.form-control {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #98cbe8;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(152, 203, 232, .6);
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #030094;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto;
}

.container, .container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dropdown-menu > li > a, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both;
}

.container-fluid:after, .container-fluid:before, .container:after, .container:before, .row:after, .row:before {
  display: table;
  content: " ";
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

a {
  color: #3097D1;
  text-decoration: none;
}

a:focus, a:hover {
  color: #216a94;
  text-decoration: underline;
}

a:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

